/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/css/bundle.min.css
/public/js/app.js
/public/js/bundle.min.js
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
node_modules.zip
vendor.zip
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
README.md
ubuntu-xenial-16.04-cloudimg-console.log